
/* Styles for the markdown content. */
.prose > p {
  @apply text-lg text-gray-800 dark:text-gray-200 my-5;
}

.prose > h2 {
  @apply text-2xl font-bold md:text-3xl dark:text-white;
}

.prose > h3 {
  @apply text-2xl font-bold md:text-3xl dark:text-white;
}

.prose > ul {
  @apply list-disc list-outside space-y-5 pl-5 text-lg text-gray-800 dark:text-gray-200;
}

.prose > li {
  @apply pl-2;
}

.prose > p > img {
  @apply w-full object-cover rounded-xl my-10;
}

.prose > p > a {
  @apply text-blue-600 decoration-2 hover:underline font-medium;
}

.prose > code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

.prose > pre {
	padding: 1.5em;
	border-radius: 8px;
  @apply my-5;
}

.prose > pre > code {
	all: unset;
}
