---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = 'Tags';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex justify-center">
    <div class="max-w-3xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
      <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">See posts by tags from here</h2>
      </div>

      <div class="flex flex-row flex-wrap gap-2">
        {
          tags.map((tag) => (
            <div class="mb-2">
              <a
                class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-200"
                href={`/tags/${tag}`}>
                {tag}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
