---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import AvatarImage from '../images/avatar.jpeg';
const pageTitle = 'About Me';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="max-w-3xl px-4 pt-6 lg:pt-10 pb-12 sm:px-6 lg:px-8 md:mx-auto">
    <Image
      class="inline-block rounded-full ring-2 ring-white dark:ring-gray-800 mb-8"
      src={AvatarImage}
      alt="Author photo"
      width={160}
      height={160}
    />
    <h1 class="text-2xl mb-5">Hello 👋, my name is Vladislav Guleaev!</h1>

    <p class="text-md mb-2">I am Full-stack Web Developer living in Munich, Germany.</p>
    <p class="text-md mb-2">
      I believe that I am passionate and motivated IT professional with 7+ years of experience in both frontend and
      backend technologies and frameworks. Working in a healthy and friendly atmosphere is the most important for me. I
      am a big fan of IT events, such as tech talks, hackathons, meetups and conferences.
    </p>

    <p class="text-md mb-2">
      Currently working as Full-stack Javascript developer I am primarily focused on such technologies:
    </p>
    <ul class="text-md mb-2 list-disc ml-5 font-bold">
      <li>Nextjs</li>
      <li>React</li>
      <li>Nodejs</li>
      <li>Typescript</li>
      <li>MongoDB</li>
      <li>Docker</li>
    </ul>

    <p class="text-md mb-2">Get in touch with me via social links and we can have a chat about anything you want! 🚀</p>
  </div>
</BaseLayout>
