---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="mt-6">
  {
    tags.map((tag: string) => (
      <a
        class="m-1 inline-flex items-center gap-1.5 py-2 px-3 rounded-full text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-200"
        href={`/tags/${tag}`}>
        {tag}
      </a>
    ))
  }
</div>
